.bg-brown {
background: rgb(112, 17, 17);
width: 100%;
}

.materials-img-container {
    top: -7px;
}

.bg-transparent {
    background: transparent;
    transition: 0s;
}

.disabled-btn {
    opacity: 0.4;
}

.container-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop-product {
    width: 70px;
}