<div class="bottom-shop-data">

  <div class="shop-item-container">

    <div>
      <img class="shop-left-img" src="assets/icons/{{bottomDataValues[btnPressed].primaryIcon}}.png" alt="">
    </div>

    <span>{{bottomDataValues[btnPressed].title}}</span>

    <div class="shop-parent-border">

      <div class="shop-procent-border bg-brown">
      </div>
      
      <div class="materials-img-container shop-img">
        <img class="shop-bar-img" src="assets/icons/{{bottomDataValues[btnPressed].secondaryIcon}}.png" alt="">
      </div>

    </div>
  </div>

  <div>

    <div>
      <span>{{bottomDataValues[btnPressed].bonusTitle}} </span>
      <span>{{bottomDataValues[btnPressed].bonusValue}}</span>
      <span>%</span>
    </div>

    <div class="d-flex">

      <div *ngFor="let pack of bottomDataValues[btnPressed].shopItems" class="shop-items">
        <img src="assets/icons/{{bottomDataValues[btnPressed].folderIcons}}/{{pack.icon}}.png" alt="">
        <div>
          <span>Cost:</span>
          <span>{{pack.cost}}</span>
        </div>
        <div>
            <span>Packs:</span>
            <span>{{pack.number}}</span>
        </div>
      </div>

    </div>

  </div>
</div>