<div class="bottom-shop-data">

  <div class="shop-item-container">

    <div>
      <img class="shop-left-img" src="assets/icons/{{bottomDataValues[btnPressed].primaryIcon}}.png" alt="">
    </div>

    <span #title>{{bottomDataValues[btnPressed].title}}</span>

    <div class="shop-parent-border">

      <div [ngClass]="{
        'shop-procent-border':defaultClass,
         'bg-brown':isLoading,
         'bg-transparent':isNotDisplayed,
         'fast-time':isSmallPack,
         'medium-time':isMediumPack,
         'slow-time':isLargePack
        }">

      </div>

      <div class="materials-img-container shop-img">
        <img class="shop-bar-img" src="assets/icons/{{bottomDataValues[btnPressed].secondaryIcon}}.png" alt="">
      </div>

    </div>
  </div>

  <div>
    <div class="d-flex">

      <button [disabled]="isDisabled" (click)="buyItems(title.innerText, shopId)"
        *ngFor="let pack of bottomDataValues[btnPressed].shopItems" [ngClass]="{
         'shop-items':defaultClass,
         'disabled-btn':isDisabled
        }">
        <img #shopId data-slot="{{pack.id}}" src="assets/icons/{{bottomDataValues[btnPressed].folderIcons}}/{{pack.icon}}.png" alt="">
        <div>
          <span>Cost:</span>
          <span>{{pack.cost - (pack.cost * (bottomValues.appeal / 10)) / 100}}</span>
        </div>
        <div>
          <span>Packs:</span>
          <span>{{pack.number}}</span>
        </div>
      </button>

    </div>

  </div>
</div>