<div class="game-title">
    <span>Anime build</span>
  </div>

  <div class="btn-container">
    <div>
      <button (click)="startGame()" class="btn-epic">
        Start
      </button>
    </div>

    <div>
      <button class="btn-epic">
        Tutorial
      </button>
    </div>

    <div>
      <button (click)="loadGame()" class="btn-epic">
        Load
      </button>
    </div>
  </div>

  <div class="indicators-container">
    <div class="carousel-mark bar-1">

    </div>

    <div class="carousel-mark bar-2">

    </div>

    <div class="carousel-mark bar-3">

    </div>
  </div>

  <div class="description-game text-1">
    <span>
      The object of the game is to construct,
      upgrade houses for profits. You can collect rent
      to fulfill the main goal.
    </span>
  </div>

  <div class="description-game text-2">
    <span>
      You can have only one anime character.
      Each character have a different bonus
      wich will help you during the game.
    </span>
    <br />
    <span>Chose carefully!</span>
  </div>

  <div class="description-game text-3">
    <span>This game was made using Angular, BootsTrap, TypeScript.</span>
  </div>

  <div class="game-signature">
    <span>By Robert Marian</span>
  </div>
