<section>
  <div class="top-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)"
     *ngFor="let slot of mapSlots[mapNumber].topSlots" class="house">
      <img #slot.name class="img-slot" src="assets/buildings/house0/{{slot.img}}.png" />
    </div>
  </div>

  <div class="mid-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
      <img class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

  <div class="bottom-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
      <img class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

</section>

<!-- The Modal -->
<div class="modal" id="slotModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{modalName}}</h5>
        <div class="house">
          <img #modalImg  class="img-slot" src="assets/buildings/house0/none0.png" />
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
     
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>