<div class="construct-container">

    <div class="back-btn">

      <div class="btn-container">
        <div>
          <span>BACK</span>
        </div>
        <img class="img-back" src="assets/icons/houses/back.png" alt="">
      </div>

    </div>

    <div *ngFor="let house of constructHouse">
      <div class="slot-button">
        <span>{{house.name}}</span>

        <div class="house-info">
          <img class="img-slot" src="assets/icons/houses/{{house.icon}}.png" alt="">

          <div class="slot-info">
            <div>
              <span>Cost:</span>
              <span>{{house.cost}}</span>
            </div>
            
            <div>
              <span>Workers:</span>
              <span>{{house.workers}}</span>
            </div>
  
            <div>
              <span>Materials:</span>
              <span>{{house.materials}}</span>
            </div>
  
            <div>
              <span>Energy:</span>
              <span>{{house.energy}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
