<div class="bottom-shop-data">
  <div class="shop-item-container">
    <div>
      <img class="shop-left-img" src="assets/ICONS/INCOME_MONEY.PNG" alt="">
    </div>
    <span>Colecting Rent</span>
    <div class="shop-parent-border">
      <div class="shop-procent-border bg-light-green loadingIncome">
      </div>
      <div class="money-img-container shop-img">
        <img class="shop-bar-img" src="assets/ICONS/MONEY.PNG" alt="">
      </div>
    </div>
  </div>

  <div>
    <div>
      <span>Bonus constructions income: </span>
      <span>{{gameData.bonusIncome}}</span>
      <span>%</span>
    </div>

    <div>
      <span>Reduce energy by: </span>
      <span>{{gameData.reduceEnergyConsumption}}</span>
      <span>%</span>
    </div>

    <div>
      <span>Game resources bonus: </span>
      <span>{{gameData.bonusGameResources}}</span>
      <span>%</span>
    </div>

    <div>
      <span>Rental income: </span>
      <span>{{gameData.income | currency}}</span>
    </div>

    <div>
      <span>Current Goal: </span>
      <span>{{gameData.goal | currency}}</span>
    </div>

  </div>
</div>