<div class="bottom-shop-data">
  <div class="shop-item-container">
    <div>
      <img class="shop-left-img" src="assets/icons/income_money.png" alt="">
    </div>
    <span>Colecting Rent</span>
    <div class="shop-parent-border">
      <div class="shop-procent-border bg-light-green">
      </div>
      <div class="money-img-container shop-img">
        <img class="shop-bar-img" src="assets/icons/money.png" alt="">
      </div>
    </div>
  </div>

  <div>
    <div>
      <span>Bonus income: </span>
      <span>10</span>
      <span>%</span>
    </div>

    <div>
      <span>Rental income: </span>
      <span>300</span>
    </div>

    <div>
      <span>Current Goal: </span>
      <span>1000000$</span>
    </div>

  </div>
</div>