<section>
  <div class="text-container">
    <span>Do you want to get rid of the curse for </span>
    <img class="cursed-img" src="assets/icons/BONUS/MONEY.PNG" alt="">
    <span>{{gameData.money}} </span>
    <span>and </span>
    <img class="cursed-img" src="assets/icons/BONUS/MATERIALS.PNG" alt="">
    <span>{{gameData.materials}}</span>
    <span> ?</span>
  </div>
  <div class="text-center">
    <button (click)="getRidOfTheCurse(5)" class="cursed-btn">
      <div>Yes</div>
    </button>
  </div>
</section>