.house {
    max-width: 146px;
    width: 20%;
}

.house:hover {
    opacity: 0.6;
    cursor: pointer;
}

.top-slots {
    top: -18px;
}

.mid-slots {
    top: 140px;
}

.bottom-slots {
    top: 300px;
}

.container-slots {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.img-slot {
    width: 100%;
}

.slot-update-img {
    width: auto;
    height: 16.16px;
}

.slot-update {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.top-8 {
    top: 8%;
}

.top-88 {
    top: 88%;
}


.update-container {
    max-width: 146px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.slot-description {
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width:991px){
    .top-slots {
        top: 12px;
    }
    
    .mid-slots {
        top: 172px;
    }
    
    .bottom-slots {
        top: 320px;
    }
}

@media only screen and (max-width:768px){
    .top-slots {
        top: -4px;
    }
    
    .mid-slots {
        top: 88px;
    }
    
    .bottom-slots {
        top: 170px;
    }

    .house {
        width: 16%;
    }

    .update-container {
        width: 16%;
    }

    .slot-update-img {
        height: 13.16px;
    }
}

