<section>

  <div *ngFor="let section of slotsArray">
    <div [class]="section.class">
      <div data-toggle="modal" data-target="#slotModal" (click)="performActionsOnSlot(modalImg, slotImg)"
        *ngFor="let slot of section.name" class="house">
        <img #slotImg data-slot="{{slot.number}}" alt="{{slot.condition}}" class="img-slot"
          src="assets/BUILDINGS/{{slot.img}}.PNG" />
  
        <app-upgrade-slot [parentData]="slot"></app-upgrade-slot>
      </div>
    </div>
  </div>

</section>

<!-- The Modal -->
<div class="modal" id="slotModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <div class="house">
          <img #modalImg class="img-slot" src="assets/BUILDINGS/HOUSE0/NONE0.PNG" />
        </div>

        <app-land-bought *ngIf="isLandBought" class="slot-description"></app-land-bought>

        <app-land-empty *ngIf="!isLandBought && !hasConstruction" class="slot-description"></app-land-empty>

        <app-construction-details class="slot-description m-left-auto" *ngIf="hasConstruction">
        </app-construction-details>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-slot-actions *ngIf="isLandBought"></app-slot-actions>
        <app-buy-land *ngIf="!isLandBought && !hasConstruction"></app-buy-land>
        <app-construction-actions [isSupportingEngUpgrade]="isSupportingEngUpgrade" *ngIf="hasConstruction">
        </app-construction-actions>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>