.house {
    max-width: 146px;
    width: 20%;
}

.house:hover {
    opacity: 0.6;
    cursor: pointer;
}

.top-slots {
    top: -2%;
}

.mid-slots {
    top: 28%;
}

.bottom-slots {
    top: 58%;
}

.container-slots {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.img-slot {
    width: 100%;
}

.slot-update-img {
    width: auto;
    height: 16.16px;
}

.slot-update {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.top-8 {
    top: 8%;
}

.top-88 {
    top: 88%;
}

.top-40 {
    top: 40%;
}

.update-container {
    height: 1px;
    max-width: 146px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.slot-description {
    font-size: 14px;
    text-align: center;
}

.slot-repair-img {
    width: 26px;
}

.justifty-left {
    justify-content: left;
}

@media only screen and (max-width:991px){
    .house {
        max-width: 115px;
    }

    .update-container {
        max-width: 115px;
    }

    .top-slots {
        top: 1%;
    }
    
    .mid-slots {
        top: 32%;
    }
    
    .bottom-slots {
        top: 63%;
    }

}

@media only screen and (max-width:768px){

    .house {
        max-width: 80px;
    }

    .update-container {
        max-width: 80px;
    }

    .top-slots {
        top: -1%;
    }
    
    .mid-slots {
        top: 30%;
    }
    
    .bottom-slots {
        top: 61%;
    }

    .slot-update-img {
        height: 13.16px;
    }

    .slot-repair-img {
        width: 16px;
    }
}

