<section>
  <div class="top-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)"
      *ngFor="let slot of mapSlots[mapNumber].topSlots" class="house">
      <img data-slot="{{slot.img}}" class="img-slot" src="assets/buildings/house0/{{slot.img}}.png" />
    </div>
  </div>

  <div class="mid-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)"
     *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
      <img data-slot="{{slot.img}}" class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

  <div class="bottom-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)"
     *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
      <img data-slot="{{slot.img}}" class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

</section>

<!-- The Modal -->
<div class="modal" id="slotModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <div class="house">
          <img #modalImg class="img-slot" src="assets/buildings/house0/none0.png" />
        </div>

        <div *ngIf="isLandBought" class="slot-description">
          <span>
            This land belongs to you.
            You can build a construction by chosing one from the bottom menu.
          </span>
        </div>

        <div *ngIf="!isLandBought" class="slot-description">
          <span>
            This land dosen't belongs to you !
            But it can be bought for a moderate sum.
          </span>
        </div>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-slot-actions *ngIf="isLandBought"></app-slot-actions>
        <app-buy-land *ngIf="!isLandBought"></app-buy-land>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>