<section>
  <div class="top-slots container-slots">

    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)" *ngFor="let slot of topSlots"
      class="house">
      <img data-slot="{{slot.number}}" alt="{{slot.condition}}" class="img-slot"
        src="assets/buildings/{{slot.img}}.PNG" />
    </div>

    <div class="slot-update top-8">
      <div class="update-container" *ngFor="let slot of topSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.starUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

    <div class="slot-update top-88">
      <div class="update-container" *ngFor="let slot of topSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.energyUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="mid-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)" *ngFor="let slot of midSlots"
      class="house">
      <img data-slot="{{slot.number}}" alt="{{slot.condition}}" class="img-slot"
        src="assets/buildings/{{slot.img}}.PNG" />
    </div>

    <div class="slot-update top-8">
      <div class="update-container" *ngFor="let slot of midSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.starUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

    <div class="slot-update top-88">
      <div class="update-container" *ngFor="let slot of midSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.energyUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="bottom-slots container-slots">
    <div data-toggle="modal" data-target="#slotModal" (click)="test(modalImg, $event)" *ngFor="let slot of bottomSlots"
      class="house">
      <img data-slot="{{slot.number}}" alt="{{slot.condition}}" class="img-slot"
        src="assets/buildings/{{slot.img}}.PNG" />
    </div>

    <div class="slot-update top-8">
      <div class="update-container" *ngFor="let slot of bottomSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.starUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

    <div class="slot-update top-88">
      <div class="update-container" *ngFor="let slot of bottomSlots">
        <div>
          <img class="slot-update-img" src="assets/icons/{{slot.energyUpdateImg}}.PNG" alt="">
        </div>
      </div>
    </div>

  </div>

</section>

<!-- The Modal -->
<div class="modal" id="slotModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <div class="house">
          <img #modalImg class="img-slot" src="assets/buildings/HOUSE0/NONE0.PNG" />
        </div>

        <app-land-bought *ngIf="isLandBought" class="slot-description"></app-land-bought>

        <app-land-empty *ngIf="!isLandBought && !hasConstruction" class="slot-description"></app-land-empty>

        <app-construction-details class="slot-description m-left-auto" *ngIf="hasConstruction">
        </app-construction-details>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-slot-actions *ngIf="isLandBought"></app-slot-actions>
        <app-buy-land *ngIf="!isLandBought && !hasConstruction"></app-buy-land>
        <app-construction-actions *ngIf="hasConstruction"></app-construction-actions>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>