<div class="construct-container">

  <div class="back-btn">

    <div (click)="getBackToMenu()" class="btn-container">
      <div>
        <span>BACK</span>
      </div>
      <img class="img-back" src="assets/icons/{{constructArr.folderIcons}}/back.png" alt="">
    </div>

  </div>

  <div *ngFor="let building of constructArr.construct">
    <div (click)="buildPurchasedBuilding(buildName.innerText)" class="slot-button"
      [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'">
      <span #buildName>{{building.name}}</span>

      <div class="house-info">
        <img #img data-slot="{{building.buildingId}}" class="img-slot"
          src="assets/icons/{{constructArr.folderIcons}}/{{building.icon}}.png" alt="">

        <div class="slot-info">
          <div>
            <span>Cost:</span>
            <span #cost>{{building.cost}}</span>
          </div>

          <div>
            <span>Workers:</span>
            <span #workers>{{building.workers}}</span>
          </div>

          <div>
            <span>Materials:</span>
            <span #materials>{{building.materials}}</span>
          </div>

          <div>
            <span>Energy:</span>
            <span #energy>{{building.energy}}</span>
          </div>

          <div>
            <span>Income:</span>
            <span #income>{{building.income}}</span>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>