.slot-button {
    text-align: center;
}

.slot-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img-slot {
    max-width: 75px;
    width: 100%;
}

.house-info {
    display: flex;
    align-items: center;
    text-align: left;
}

.back-btn {
    width: 100%;
    text-align: center;
}

.btn-container {
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.btn-container:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img-back {
    max-width: 75px;
}

.construct-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
}

.slot-info {
    margin-bottom: 15px;
}