<div class="bottom-shop-data">

    <div class="shop-item-container">
  
      <div>
        <img class="shop-left-img" src="assets/icons/workers.png" alt="">
      </div>
  
      <span>Hire Workers</span>
  
      <div class="shop-parent-border">
  
        <div class="shop-procent-border bg-yellow">
        </div>
        
        <div class="workers-img-container shop-img">
          <img class="shop-bar-img" src="assets/icons/worker.png" alt="">
        </div>
  
      </div>
    </div>
  
    <div>
  
      <div>
        <span>Reduce workers cost by: </span>
        <span>10</span>
        <span>%</span>
      </div>
  
      <div class="d-flex">
  
        <div *ngFor="let pack of workersShop" class="shop-items">
          <img src="assets/icons/workers/{{pack.icon}}.png" alt="">
          <div>
            <span>Cost:</span>
            <span>{{pack.cost}}</span>
          </div>
          <div>
              <span>Workers:</span>
              <span>{{pack.number}}</span>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>