.center {
    width: 80%;
    height: 500px;
    background: url(src/assets/bg/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.center-section {
    display: flex;
}

.left-container {
    width: 20%;
    background: red;
    height: 500px;
}