<div class="container-action">

  <button [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'" (click)="upgradeStarRating()" class="action-data">
    <span>Upgrade Star</span>
    <div class="action-info">
      <img src="assets/ICONS/UPGRADE_STAR.PNG" alt="">
      <div>
        <span>Income: </span>
        <span>+ 10%</span>
        <br />
        <span>Cost: </span>
        <span>{{allGameSlots[slotNumber].cost / 2 | number:'1.0-0'}}</span><span>$</span>
        <br />
        <span>Materials: </span>
        <span>{{allGameSlots[slotNumber].cost / 100 | number:'1.0-0'}}</span>
        <br />
        <span>Workers: </span>
        <span>{{(allGameSlots[slotNumber].cost / 4000) | number:'1.0-0'}}</span>
      </div>
    </div>
  </button>

  <button [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'" *ngIf="isSupportingEngUpgrade"
    (click)="upgradeEnergyReduction()" class="action-data">
    <span>Upgrade Energy</span>
    <div class="action-info">
      <img src="assets/ICONS/UPGRADE_ENERGY.PNG" alt="">
      <div>
        <span>Energy: -</span>
        <span>10%</span>
        <br />
        <span>Cost: </span>
        <span>{{allGameSlots[slotNumber].cost / 2 | number:'1.0-0'}}</span><span>$</span>
        <br />
        <span>Materials: </span>
        <span >{{allGameSlots[slotNumber].cost / 80 | number:'1.0-0'}}</span>
        <br />
        <span>Engineers: </span>
        <span>{{(allGameSlots[slotNumber].cost / 6000) | number:'1.0-0'}}</span>
      </div>
    </div>
  </button>

  <button [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'" (click)="repairBuilding()" *ngIf="slotNeedRepair"
    class="action-data">
    <span>Repair Construction</span>
    <div class="action-info">
      <img src="assets/ICONS/NO_REPAIR.PNG" alt="">
      <div>
        <span>Workers: </span>
        <span>{{(allGameSlots[slotNumber].income / 500) | number:'1.0-0'}}</span>
        <br />
        <span>Cost: </span>
        <span>{{allGameSlots[slotNumber].income * 5}}</span><span>$</span>
        <br />
        <span>Materials: </span>
        <span>{{allGameSlots[slotNumber].income / 50}}</span>
      </div>
    </div>
  </button>

  <button [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'"
    (click)="demolishBuilding()" class="action-data">
    <span>Demolish Construction</span>
    <div class="action-info">
      <img src="assets/ICONS/DEMOLISH.PNG" alt="" />
      <div>
        <span>Return Materials: </span>
        <br />
        <span>{{allGameSlots[slotNumber].cost / 150 | number:'1.0-0'}}</span>
      </div>
    </div>
  </button>


</div>