<div class="container-action">

  <button class="action-data">
    <span>Upgrade Star</span>
    <div class="action-info">
      <img src="assets/icons/upgrade_star.png" alt="">
      <div>
        <span>Income: </span>
        <br />
        <span>+ 10%</span>
        <br />
        <span>Cost: </span>
        <br />
        <span>3000</span><span>$</span>
        <br />
        <span>Materials: </span>
        <br />
        <span>30</span>
      </div>
    </div>
  </button>

  <button class="action-data">
    <span>Upgrade Energy</span>
    <div class="action-info">
      <img src="assets/icons/upgrade_energy.png" alt="">
      <div>
        <span>Income: </span>
        <br />
        <span>+ 10%</span>
        <br />
        <span>Cost: </span>
        <br />
        <span>3000</span><span>$</span>
        <br />
        <span>Materials: </span>
        <br />
        <span>30</span>
      </div>
    </div>
  </button>

  <button class="action-data">
    <span>Repair Construction</span>
    <div class="action-info">
      <img src="assets/icons/no_repair.png" alt="">
      <div>
        <span>Workers: </span>
        <br />
        <span>3</span>
        <br />
        <span>Cost: </span>
        <br />
        <span>3000</span><span>$</span>
        <br />
        <span>Materials: </span>
        <br />
        <span>30</span>
      </div>
    </div>
  </button>

  <button [attr.data-dismiss]="isModalClosed ? 'modal': 'noModal'" (click)="demolishBuilding()" class="action-data">
    <span>Demolish Construction</span>
    <div class="action-info">
      <img src="assets/icons/demolish.png" alt="" />
    </div>
  </button>


</div>