.calendar {
    text-align: center;
    color: white;
}

.event-img {
    max-width: 200px;
    width: 100%;
}

.event-description {
    font-size: 14px;
}

.event-bonus-img {
    width: 30px;
}

.event-title {
    font-size: 16px;
}

.event-bonus {
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width:768px) {
    .event-title {
        font-size: 11px
    }

    .event-bonus-img {
        width: 20px;
        height: 20px;
    }

    .event-description {
        font-size: 9px;
    }
}