.slot-update-img {
    width: auto;
    height: 16.16px;
}

.slot-update {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.update-container {
    height: 1px;
    max-width: 146px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.top-8 {
    top: 8%;
}

.top-88 {
    top: 88%;
}

.top-40 {
    top: 40%;
}

.top-26 {
    top: 26%;
}

.slot-repair-img {
    width: 26px;
}

.justifty-left {
    justify-content: left;
}

.img-appeal {
    width: 45px;
}

.left-auto {
    margin-left: auto;
}

@media only screen and (max-width:991px){
    .update-container {
        max-width: 115px;
    }

    .img-appeal {
        width: 40px;
    }

}

@media only screen and (max-width:768px){
    .update-container {
        max-width: 80px;
    }

    .slot-update-img {
        height: 13.16px;
    }

    .slot-repair-img {
        width: 16px;
    }

    .img-appeal {
        width: 35px;
    }
}

