<div class="selected-character">

  <div class="character-name">
    <span>{{characters[characterSelected].name}}</span>
  </div>

  <div>
    <img class="character-img" src="assets/characters/{{characters[characterSelected].img}}.png" alt="">
  </div>

  <div>
    <div *ngFor="let bonus of characters[characterSelected].bonuses">
      <img class="icon-bonus" src="assets/icons/{{bonus.bonusImg}}.PNG" alt="">
      <span [style.color]="bonus.color">{{bonus.actionValue}}</span>
      <span [style.color]="bonus.color">{{bonus.value}}</span>
      <span [style.color]="bonus.color">{{bonus.procent}}</span>
    </div>

  </div>
</div>