.character-img, .character-img-modal {
    max-width: 80px;
    width: 100%;
}

.selected-character {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    margin: 1px;
    color: white;
    background: url(src/assets/bg/bg_c.png);
    cursor: pointer;
}

.character-name {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.icon-bonus {
    width: 24px;
}

.character-details {
    font-size: 14px;
    margin-left: auto;
    max-width: 300px;
}

.cursed-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    animation: activeCurse 5s infinite;
    background-image: url(src/assets/icons/BONUS/CURSE.PNG);
    background-size: contain;
}

.name-container {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

@keyframes activeCurse {
    0%{transform:rotate(0deg) }
    25%{transform:rotate(30deg) }
    50%{transform:rotate(60deg) }
    75%{transform:rotate(90deg) }
    100%{transform:rotate(120deg); background-image: url(src/assets/icons/BONUS/CURSE_RED.PNG) }
}

@media only screen and (max-width: 992px){
    
    .selected-character {
        font-size: 14px;
        margin: 0px;
    }
}

@media only screen and (max-width: 768px){
    .character-img {
        max-width: 40px;
    }

    .selected-character {
        font-size: 12px;
        margin: 0px;
    }

    .icon-bonus {
        width: 20px;
    }

    .character-details {
        font-size: 13px;
    }

    .character-img-modal {
        max-width: 60px;
    }

    .cursed-img {
        width: 20px;
        height: 20px;
    }
}