<div class="menu-container">

  <div class="menu-button">
    <span>House</span>
    <img class="menu-icon" src="assets/icons/construct_house.png" alt="" />
  </div>

  <div class="menu-button">
    <span>Building</span>
    <img class="menu-icon" src="assets/icons/construct_building.png" alt="" />
  </div>

  <div class="menu-button">
    <span>Shop</span>
    <img class="menu-icon" src="assets/icons/construct_shop.png" alt="" />
  </div>

  <div class="menu-button">
    <span>Mark</span>
    <img class="menu-icon" src="assets/icons/construct_mark.png" alt="" />
  </div>

  <div class="menu-button">
    <span>Service</span>
    <img class="menu-icon" src="assets/icons/construct_service.png" alt="" />
  </div>

</div>