.calendar {
    text-align: center;
    color: white;
    background: url(src/assets/BG/CALENDAR.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 70%;
    font-size: 14px;
}

.event-img {
    width: 100%;
}

.event-bonus-img {
    width: 30px;
}

.event-title {
    font-weight: bold;
}

.event-bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.event-bonuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-container {
    padding-top: 20px;
}

.event-description {
    margin-bottom: 0px;
}

.icon-bonus {
    width: 24px;
}

@media only screen and (max-width:768px) {

   .calendar {
       font-size: 10px;
   }

    .title-container {
        padding-top: 6px;
    }

    .event-bonus-img {
        width: 20px;
        height: 20px;
    }

    .event-description {
        font-size: 8.5px;
    }
    
    .event-bonuses {
        font-size: 8px;
    }

    .icon-bonus {
        width: 20px;
    }
}


@media only screen and (max-width:550px) {
    .calendar {
        font-size: 8px;
    }

    .title-container {
        padding-top: 12px;
    }
}