<div class="calendar">
  <div class="title-container">
    <span class="event-title">{{calendarEvents[eventNumber].name}}</span>
  </div>

  <div>
    <img class="event-img" src="assets/events/sasuke.png" alt="">
  </div>

  <p class="event-description">{{calendarEvents[eventNumber].description}}</p>

  <div class="event-bonuses">
    <div *ngFor="let bonus of calendarEvents[eventNumber].bonus" class="event-bonus">
      <div>
        <img class="event-bonus-img" src="assets/icons/{{bonus.bonusImg}}.png" alt="">
      </div>
      <span>+ </span>
      <span>{{bonus.bonusValue}}</span>
      <span>%</span>
    </div>
  </div>
</div>