<div class="calendar">
  <div class="title-container">
    <span class="event-title">{{calendarEvents[eventNumber].name}}</span>
  </div>

  <div>
    <img class="event-img" src="assets/events/{{calendarEvents[eventNumber].img}}.PNG" alt="">
  </div>

  <p class="event-description">{{calendarEvents[eventNumber].description}}</p>

  <div class="event-bonuses">
    <div *ngFor="let bonus of calendarEvents[eventNumber].bonuses">
        <img class="icon-bonus" src="assets/icons/BONUS/{{bonus.img}}.PNG" alt="">
        <span>{{bonus.sign}}{{bonus.value}}{{bonus.procent}}</span>
    </div>
  </div>
</div>
