/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-item-container {
    max-width: 140px;
    text-align: center;
    padding: 2px;
}

.shop-parent-border {
    border: 1px solid rgb(0, 0, 0);
    max-width: 132px;
    width: 100%;
    height: 20px;
    position: relative;
}

.shop-procent-border {
    height: 100%;
    width: 10%;
    border-radius: 4px;
}

.shop-img {
    position: absolute;
    left: 86%;
    width: 34px;
    height: 30px;
}

.shop-bar-img {
    width: 100%;
}

.shop-left-img {
    max-width: 132px;
}

.bottom-shop-data {
    display: flex;
    justify-content: space-around;
}

.shop-items {
    text-align: center;
    font-size: 14px;
}

.shop-items:hover {
   opacity: 0.7;
   cursor: pointer;
}

.modal-body, .modal-header, .modal-footer {
    background: url(src/assets/bg/bg_top.png);
    color: white;
}

.modal-title {
    width: 100%;
    text-align: center;
}