/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(src/assets/BG/MAIN.PNG);
    background-size: auto;
    background-repeat: repeat;
}

.shop-item-container {
    max-width: 140px;
    text-align: center;
    padding: 2px;
}

.shop-parent-border {
    border: 1px solid rgb(0, 0, 0);
    max-width: 132px;
    width: 100%;
    height: 20px;
    position: relative;
}

.shop-procent-border {
    height: 100%;
    width: 0%;
    border-radius: 4px;
    transition: 1.2s linear;
}

.shop-img {
    position: absolute;
    left: 86%;
    width: 34px;
    height: 30px;
}

.shop-bar-img {
    width: 100%;
}

.shop-left-img {
    max-width: 132px;
}

.bottom-shop-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop-items {
    text-align: center;
    font-size: 13px;
    background: transparent;
    color: white;
    border: 0px;
    margin: 3px;
}

.shop-items:hover {
   opacity: 0.7;
   cursor: pointer;
}

.modal-body, .modal-header, .modal-footer {
    background: url(src/assets/BG/BG_C.PNG);
    color: white;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.m-left-auto {
    margin-left: auto;
}


@media only screen and (min-width:1400px) {
    body {
        background-size: cover;
    }
}