<section>
  <div class="top-slots container-slots">
    <div *ngFor="let slot of mapSlots[mapNumber].topSlots" class="house">
      <img class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

  <div class="mid-slots container-slots">
    <div *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
      <img class="img-slot" src="assets/buildings/house0/none0.png" />
    </div>
  </div>

  <div class="bottom-slots container-slots">
      <div *ngFor="let slot of mapSlots[mapNumber].midSlots" class="house">
        <img class="img-slot" src="assets/buildings/house0/none0.png" />
      </div>
    </div>

</section>