<section class="bottom-section">

  <div (click)="modalInfo(money.dataset.info)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-money">

      <div #money data-info="Money" class="appeal">
        <span>{{bottomValues.money}}</span>
      </div>

    </div>
  </div>

  <div (click)="modalInfo(materials.dataset.info)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-materials">

      <div #materials data-info="Materials" class="appeal">
        <span>{{bottomValues.materials}}</span>
      </div>

    </div>
  </div>

  <div (click)="modalInfo(workers.dataset.info)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-workers">

      <div #workers data-info="Workers" class="appeal">
        <span>{{bottomValues.workers}}</span>
      </div>

    </div>
  </div>

  <div (click)="modalInfo(engineers.dataset.info)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-techs">

      <div #engineers data-info="Engineers" class="appeal">
        <span>{{bottomValues.engineers}}</span>
      </div>

    </div>
  </div>

  <div (click)="modalInfo(settings.dataset.info)" class="settings" data-toggle="modal" data-target="#myModal">
    <div #settings data-info="Settings">
      <img class="settings-img" src="assets/icons/SETTINGS.PNG" alt="">
    </div>
  </div>

  <img *ngIf="isGameSaving" src="assets/icons/LOADING.GIF" class="loading" alt="">
</section>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{modalName}}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-money-section *ngIf="isMoneyPressed"></app-money-section>

        <app-materials-section [btnPressed]="btnValue" *ngIf="isMaterialsPressed">
        </app-materials-section>

        <app-settings-section *ngIf="isSettingsPressed"></app-settings-section>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>