<section class="bottom-section">

  <div (click)="modalInfo(itemName.innerText)" data-toggle="modal" data-target="#myModal"
    *ngFor="let item of bottomItems" class="top-container">
    <div [style.background]="item.bg" class="data-container">
      <div class="title-container">
        <span #itemName>{{item.name}}</span>
      </div>

      <div class="info-container">
        <img class="icon" src="assets/icons/{{item.icon}}.png" alt="">
        <div class="appeal">
          <span>{{item.value}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{modalName}}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div *ngIf="hadClickOnMoney">
          <app-money-section></app-money-section>
        </div>

        <div *ngIf="hadClickOnMaterials">
          <app-materials-section></app-materials-section>
        </div>

        <div *ngIf="hadClickOnWorkers">
          <app-workers-section></app-workers-section>
        </div>

        <div *ngIf="hadClickOnEngineers">
            <app-engineers-section></app-engineers-section>
          </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>