.title-container {
    text-align: center;
    font-weight: bold;
}

.data-container {
    width: 100%;
    cursor: pointer;
}

.bg-money {
    background: url(src/assets/icons/MONEY_BOTTOM/MONEY.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-materials {
    background: url(src/assets/icons/MATERIALS_BOTTOM/MATERIALS.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.bg-workers {
    background: url(src/assets/icons/WORKERS_BOTTOM/WORKERS.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-techs {
    background: url(src/assets/icons/TECHS_BOTTOM/TECHS.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 45px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appeal {
    text-align: center;
    margin-top: 13px;
}

.bottom-section {
    position: absolute;
    bottom: -4px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

.loading {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    .top-container {
        width: 100px;
        font-size: 13px;
    }

    .bottom-section {
        bottom: -9px;
    }
}
