<section class="bottom-section">

  <div (click)="modalInfo(money.innerText)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-red">
      <div class="title-container">
        <span #money>Money</span>
      </div>

      <div class="info-container">
        <img class="icon" src="assets/icons/money.png" alt="">
        <div class="appeal">
          <span>{{bottomValues.money}}</span>
        </div>
      </div>
    </div>
  </div>

  <div (click)="modalInfo(materials.innerText)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-blue">
      <div class="title-container">
        <span #materials>Materials</span>
      </div>

      <div class="info-container">
        <img class="icon" src="assets/icons/materials.png" alt="">
        <div class="appeal">
          <span>{{bottomValues.materials}}</span>
        </div>
      </div>
    </div>
  </div>

  <div (click)="modalInfo(workers.innerText)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-yellow">
      <div class="title-container">
        <span #workers>Workers</span>
      </div>

      <div class="info-container">
        <img class="icon" src="assets/icons/worker.png" alt="">
        <div class="appeal">
          <span>{{bottomValues.workers}}</span>
        </div>
      </div>
    </div>
  </div>

  <div (click)="modalInfo(engineers.innerText)" data-toggle="modal" data-target="#myModal" class="top-container">
    <div class="data-container bg-light-blue">
      <div class="title-container">
        <span #engineers>Engineers</span>
      </div>

      <div class="info-container">
        <img class="icon" src="assets/icons/engineer.png" alt="">
        <div class="appeal">
          <span>{{bottomValues.engineers}}</span>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{modalName}}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-money-section *ngIf="isMoneyPressed"></app-money-section>

        <app-materials-section [btnPressed]="btnValue" *ngIf="isMaterialsPressed">
        </app-materials-section>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>