<section class="container top-bar">
  <div class="top-container">

    <div class="data-container">
  
      <div class="title-container">
        <span>Time</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/WATCH07.PNG" alt="">
        <div class="appeal blue-bg-bar"> 
          <span>10:00:00</span>
        </div>
      </div>
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Energy</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/power.png" alt="">
        <div class="energy-border">
          <span #eng>{{topBarData.energy}}</span>
          <span>/</span>
          <span #maxEng>{{topBarData.maxEnergy}}</span>
          <div [style.width]="getConsumption(eng.innerText, maxEng.innerText)" class="energy-consumption">
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Appeal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/HAPPY.PNG" alt="">
        <div class="appeal green-bg-bar">
          <span>{{topBarData.appeal}}</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Score</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/score.png" alt="">
        <div class="appeal red-bg-bar">
          <span>{{topBarData.score | number:'1.0-0'}}</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Goal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/GOALS09.PNG" alt="">
        <div class="appeal yellow-bg-bar">
          <span>{{topBarData.goal | currency}}</span>
        </div>
      </div>
  
    </div>
  </div>
</section>