.top-bar {
    background: url(src/assets/bg/bg_top.png);
    color: white;
    font-size: 13px;
    padding-bottom: 4px;
}

.icon {
    width: 25px;
    height: 25px;
}

.energy-border {
    border: 1px solid black;
    width: 75%;
    text-align: center;
}

.appeal {
    width: 80%;
    text-align: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    text-align: center;
    font-weight: bold;
}

.data-container {
    max-width: 165px;
    width: 100%;
}

.top-container {
    display: flex;
    justify-content: space-between;
}