<section class="container top-bar">
  <div class="top-container">

    <div class="data-container">
  
      <div class="title-container">
        <span>Time</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/WATCH07.PNG" alt="">
        <div class="appeal blue-bg-bar"> 
          <span>10:00:00</span>
        </div>
      </div>
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Energy</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/POWER10.PNG" alt="">
        <div class="energy-border">
          <span>40</span>
          <span>/</span>
          <span>400</span>
          <div class="energy-consumption">
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Appeal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/sad.png" alt="">
        <div class="appeal red-bg-bar">
          <span>- </span>
          <span>300</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Score</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/score.png" alt="">
        <div class="appeal green-bg-bar">
          <span>3213132</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Goal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/GOALS09.PNG" alt="">
        <div class="appeal yellow-bg-bar">
          <span>{{1000000 | currency}}</span>
        </div>
      </div>
  
    </div>
  </div>
</section>