<section>
  <!-- Top Info -->
  <div class="top-container">

    <div class="data-container">
  
      <div class="title-container">
        <span>Time</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/clock.png" alt="">
        <span>10:00:00</span>
        <div>
          <span>Day: </span>
          <span>99999</span>
        </div>
      </div>
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Energy</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/lightbulb.png" alt="">
        <div class="energy-border">
          <span>40</span>
          <span>/</span>
          <span>400</span>
          <div class="energy-consumption">
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Appeal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/sad.png" alt="">
        <div class="appeal">
          <span>- </span>
          <span>300</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Score</span>
      </div>
  
      <div class="info-container">
  
        <img class="icon" src="assets/icons/score.png" alt="">
        <div class="appeal">
          <span>3213132</span>
        </div>
      </div>
  
    </div>
  
    <div class="data-container">
  
      <div class="title-container">
        <span>Goal</span>
      </div>
  
      <div class="info-container">
        <img class="icon" src="assets/icons/goal.png" alt="">
        <div class="appeal">
          <span>{{1000000 | currency}}</span>
        </div>
      </div>
  
    </div>
  </div>
</section>